.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

mat-toolbar{
background-color: #333333;
}

span{
  
    font-family: Ubuntu; /*titulo*/
    color: #fff;
    
  
}
mat-label{

  color: black;
  font-weight: 500;
  font-family: Poppins; /*cuerpo*/
}

 mat-raised-button {
  background-color: #FEC935;
  font-family: Poppins;
}

th{
  color: #333333;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: ubuntu;
}

td{
  font-family: Poppins;
  font-size: 0.8rem;
}
