
<h1 mat-dialog-title >Agendar mi cita</h1>
<p>Por favor llena todos los campos</p>
<div mat-dialog-content >
<form [formGroup]="productForm">
    <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field appearance="outline" >
      <mat-label >Nombre:</mat-label>
      <input formControlName="Nombre" matInput required="" pattern="[a-zA-ZñÑ\s]+" placeholder="Ingrese su nombre...">
    </mat-form-field></td>

    <td><mat-form-field appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input formControlName="Apellidos" required="" pattern="[a-zA-ZñÑ\s]+" matInput placeholder="Ingrese su apellidos...">
    </mat-form-field></td>
  </tr>
  </table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="Email" matInput required=""
            placeholder="Ingrese su correo">
      <mat-hint></mat-hint>
    </mat-form-field></td>

    <td><mat-form-field appearance="outline" >
      <mat-label>Celular:</mat-label>
      <span matPrefix> &nbsp;</span>
      <input formControlName="Celular" type="tel" matInput required="" pattern="[0-9]+" placeholder="Ingresu su numero...">
    </mat-form-field></td>
  </tr>
  </table>

  <table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field appearance="outline" >
    <mat-label>Hora</mat-label>
    <input formControlName="Hora" type="time" id="appt" name="appt" min="09:00" max="16:00" 
    matInput required=""  color="accent">
  </mat-form-field></td>
 

    <td><mat-form-field appearance="outline" >
      <mat-label  for="appt">Fecha</mat-label>
      <input formControlName="Fecha" matInput required="" [matDatepicker]="picker">
      <mat-hint ></mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker" style="color:#FEC935"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field> 
  </td> 
  </tr>
  <p>Horario de 9:00 Am a 16:00 Pm</p>
  </table>

  
  <mat-form-field appearance="outline">
    <mat-label>Servicios</mat-label>
    <mat-select  formControlName="Servicio" required="" placeholder="Ingrese su apellidos...">
      <mat-option  value="Pagina Web">Pagina Web</mat-option>
      <mat-option value="Diseño de marca">Diseño de marca</mat-option>
      <mat-option value="Gestion de Redes">Gestion de Redes</mat-option>
      <mat-option value="Otro Servicio">Otro Servicio</mat-option>
    </mat-select>
  </mat-form-field>



  <mat-form-field appearance="outline">
    <mat-label>Descripcion</mat-label>
    <textarea formControlName="Descripcion" matInput required="" pattern="[0-9a-zA-ZñÑ\s]+" placeholder="Haz una descripcion..."></textarea>
  </mat-form-field>
</form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-raised-button style="background-color:#333333; color: #fff;" mat-dialog-close type="submit">Cerrar</button>
  <button style="margin-left: 8px; background-color: #FEC935; color: #333333;" mat-raised-button   type="submit" (click)="enviarCita()">{{actionBtn}}</button>

</div>


